<% provide(:title, "Home") %>
<!DOCTYPE html>
<div class="drawAttention">
  <h1 class="bringForward">Discuss your ideas</h1>
  <button id="about" class="bringForward btn btn-lg btn-primary">How to start</button>
  <div class="bringForward popup-content">
    <ol>
      <li>Sign up and create an account</li>
      <li>Choose a discussion topic</li>
      <li>Create or view a discussion</li>
      <li>Read posts from other users on a discussion or create your own</li>
    </ol>
  </div>
</div>
