<% provide(:title, "Current Discussion") %>
<h1><%= @discussion.title %></h1>
<div class="content">
  <p><%= @discussion.content %></p>
</div>
<div class="comments-container">
  <h2><%= t 'discussion.show.comment_title' %></h2>
  <a href="#">Add comment</a>
  <% @comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.comment %></p>
    <% if current_user.id == comment.user_id %>
    <a href="#">Edit</a>
    <a href="#">Delete</a>
    <% end %>
  </div>
  <% end %>
</div>
