<% provide(:title, "Current Discussion") %>
<h1><%= @discussion.title %></h1>
<div class="content">
  <p><%= @discussion.content %></p>
</div>
<div class="comments-container">
  <h2><%= t 'discussion.show.comment_title' %></h2>
  <div class="comment">
    <p>This is a comment, i think tiger is goos</p>
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
  <div class="comment">
    <p>This is a comment, i think tiger is goos</p>
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
</div>
