<% provide(:title, "Discussion Topic") %>
<h1>Discussion topics</h1>
<div class="topicContainer">
  <div class="topicTile" style="background-image: url('/assets/food.jpg');">
    <div class="topicTitle">
      <p>Food</p>
    </div>
  </div>
  <div class="topicTile" style="background-image: url('/assets/health.jpg');">
    <div class="topicTitle">
      <p>Health</p>
    </div>
  </div>
  <div class="topicTile" style="background-image: url('/assets/news.jpg');">
    <div class="topicTitle">
      <p>News</p>
    </div>
  </div>
  <div class="topicTile" style="background-image: url('/assets/relationships.jpg');">
    <div class="topicTitle">
      <p>Relationships</p>
    </div>
  </div>
  <div class="topicTile" style="background-image: url('/assets/sport.jpg');">
    <div class="topicTitle">
      <p>Sport</p>
    </div>
  </div>
  <div class="topicTile" style="background-image: url('/assets/other.jpg');">
    <div class="topicTitle">
      <p>Other</p>
    </div>
  </div>
</div>
