<%# Shows all of the discussion topics %>
<% provide(:title, "Discussion Topic") %>
<h1><%= t 'discussiontopics.discussiontopics_page_title' %></h1>
<div class="topicContainer">
  <% @discussionTopics.each do |discussionTopic| %>
  <div class="topicTile" style="background-image: url('/assets/<%= discussionTopic.topic.downcase %>.jpg');">
    <div class="topicTitle">
      <p><%= link_to "#{discussionTopic.topic}", discussiontopics_discussions_path(discussionTopic.id) %></p>
    </div>
  </div>
  <% end %>
</div>
