<% provide(:title, "Discussion Topic") %>
<h1><%= t 'discussiontopics.discussiontopics_page_title' %></h1>
<div class="topicContainer">
  <% @discussionTopics.each do |discussionTopic| %>
  <div class="topicTile" style="background-image: url('/assets/<%= discussionTopic.topic.downcase %>.jpg');">
    <div class="topicTitle">
      <a href="/discussiontopics/<%= discussionTopic.id %>"><p><%= discussionTopic.topic %></p></a>
    </div>
  </div>
  <% end %>
</div>
