.content {
  width: 60%;
  margin: 0 auto;
  border: 2px solid black;
  p{
    padding: 20px;
    font-size: 20px;
  }
}

.comments-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  h2{
    margin-top: 30px;
    font-size: 25px;
  }
  .comment{
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.editError {
  text-align: center;
  color: red;
}

@media only screen and (max-width: 900px) {
  .content {
    width: 90%;
  }
}
