.content {
  width: 60%;
  margin: 0 auto;
  border: 2px solid black;
  p{
    padding: 20px;
    font-size: 20px;
  }
}

.comments-container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  h2{
    margin-top: 30px;
    font-size: 18px;
  }
  .comment{
    padding: 10px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.editError {
  text-align: center;
  color: red;
}
