#footer{
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div a{
    margin-top: 5px;
    margin-right: 30px;
    margin-left: 30px;
    color: #9d9d9d;
    text-decoration: none;
  }
  div a:hover{
    color: white;
  }
  p{
    text-align: center;
    color: white;
    margin: 15px 0px 0px 0px;
    font-size: 12px;
  }
}
