#logo {
 float: left;
 margin-right: 20px;
 font-size: 23px;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: -1px;
 padding-top: 9px;
 font-weight: bold;
}

#logo:hover {
 color: #fff;
 text-decoration: none;
}
