@import "variables";

#logo {
  float: left;
  margin-right: 20px;
  font-size: 20px;
  color: $blockWhite;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $midBlue;
  text-decoration: none;
}
