// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Home Page*/
.drawAttention {
 color: white;
 background-image: url('/assets/thought.jpg');
 background-size: cover;
 background-position: center;
 height: 100vh;
 position: relative;

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 button{
   margin-top: 40px;
 }
 h1{
   font-size: 60px;
 }
}

.drawAttention::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.bringForward {
  z-index: 1;
}

.popup-content {
  height: 175px;
  max-width: 350px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #337ab7;
  margin-top: 15px;
  ol li{
    font-size: 18px;
    margin-top: 5px;
  }
}
